@*
* This template is called from the `index` template. This template
* handles the rendering of the page header and body tags. It takes
* two arguments, a `String` for the title of the page and an `Html`
* object to insert into the body of the page.
*@
@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/default.css")">
    <link rel="icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro" rel="stylesheet">
    <title>@title</title>
</head>
<body>
<nav class="navbar fixed-top navbar-collapse navbar-toggleable-md navbar-expand-lg navbar-light">
    <a class="navbar-brand py-0" href="#">
        <img src="assets/images/logo.svg" height=30  class="d-inline-block align-top" alt="">
    </a>
    <!--<a href="/" class="nav-link active py-0">Home</a>
    <a href="team.html" class="nav-link py-0">Team</a>
    <!--| <a href="documentation.html">Documentation</a>
    | <a href="delphi/">Try it!</a>-->
    <!--<a href="https://github.com/delphi-hub" class="nav-link py-0">Participate!</a>-->
</nav>

<header>
</header>
<main>
        @* And here's where we render the `Html` object containing
         * the page content. *@
        @content
</main>
  <footer class="fixed-bottom">
      <p class="text-center">Delphi (v@de.upb.cs.swt.delphi.webapp.BuildInfo.version) is maintained by the <a href="https://www.hni.uni-paderborn.de/en/software-engineering/">Secure Software Engineering group</a> at <a href="https://www.uni-paderborn.de/">Paderborn University</a></p>
  </footer>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="@routes.Assets.versioned("scripts/bootstrap.min.js")" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>