@(message: String, style: String = "scala")

<section id="top">
    <div class="wrapper">
        <h1>Welcome to Delphi!</h1>
    </div>
</section>

<div id="content" class="wrapper doc">
    <article>

        <h1>What is Delphi?</h1>

        <p>
            Delphi is a platform to retrieve meta-information on JVM-bytecode based projects.
        </p>


        <h2>What can Delphi do for you?</h2>

        <p>
            You can either query a complete set of information for a specific project or you can retrieve a list of
            matching projects based on specific metrics.
        </p>




    </article>

    <aside>
        <h3>Browse</h3>
        <ul>
        </ul>
        <h3>Start here</h3>
        <ul>
            <li><a href="https://playframework.com/download#examples">Example Projects</a>
        </ul>
        <h3>Help here</h3>
        <ul>
            <li><a href="https://stackoverflow.com/questions/tagged/playframework">Stack Overflow</a></li>
            <li><a href="http://groups.google.com/group/play-framework">Mailing List</a></li>
            <li><a href="https://gitter.im/playframework/playframework">Gitter Channel</a></li>
        </ul>

    </aside>


</div>

<footer>
    (c) 2017
</footer>